# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Local data outputs
data/processed/

# Docker
qdrant_storage/